<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klb.portal.crud.plant.mapper.PlantInfoMapper">

    <select id="selectPlantInfoPage" parameterType="com.klb.portal.crud.plant.vo.plantInfo.PlantInfoAdminSelectVO" resultType="com.klb.portal.crud.plant.vo.plantInfo.PlantInfoAdminListVO">
        SELECT pi.id,pi.name,pi.state,pi.user_id,pi.publish_time,pf.thumbnail_file_path,pf.file_path
        FROM plant_info pi
        LEFT JOIN plant_file pf ON pi. plant_photo_id=pf.id
        where 1=1
        <if test="PlantInfoAdminSelectVO.id != null  and PlantInfoAdminSelectVO.id != ''">and pi.id = #{PlantInfoAdminSelectVO.id}</if>
        <if test="PlantInfoAdminSelectVO.name != null  and PlantInfoAdminSelectVO.name != ''">and pi.name like '%' || #{PlantInfoAdminSelectVO.name} || '%'</if>
        <if test="PlantInfoAdminSelectVO.state != null  and PlantInfoAdminSelectVO.state != ''">and pi.state = #{PlantInfoAdminSelectVO.state}</if>
        <if test="PlantInfoAdminSelectVO.userId != null  and PlantInfoAdminSelectVO.userId != '' ">and pi.user_id = #{PlantInfoAdminSelectVO.userId}</if>
        <if test="PlantInfoAdminSelectVO.publishTimeStart != null">and pi.publish_time &gt; #{PlantInfoAdminSelectVO.publishTimeStart}</if>
        <if test="PlantInfoAdminSelectVO.publishTimeEnd != null">and pi.publish_time &lt; #{PlantInfoAdminSelectVO.publishTimeEnd}</if>
        order by pi.publish_time desc
    </select>

    <select id="selectById" parameterType="com.klb.portal.crud.plant.vo.plantInfo.PlantInfoIdVO" resultType="com.klb.portal.crud.plant.vo.plantInfo.PlantInfoVO">
        SELECT pi.id,pi.name,pi.state,pi.user_id,pi.publish_time,pi.last_update_time,pf.thumbnail_file_path,pf.file_path
        FROM plant_info pi
        LEFT JOIN plant_file pf ON pi. plant_photo_id=pf.id
        where pi.id = #{plantInfoIdVO.id}
    </select>

</mapper>
