<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klb.portal.crud.plant.mapper.PlantDynamicMapper">

    <select id="listPlanDynamicByPlantId" parameterType="Long" resultType="com.klb.portal.crud.plant.vo.plantInfo.PlantDynamicVO">
        SELECT id,describe,user_id,publish_time,type,shooting_date
        FROM plant_dynamic WHERE plant_id = #{id}
        ORDER BY publish_time DESC
    </select>

</mapper>
